version: "3.8"
services:
  shll-web:
    image: ghcr.io/kledx/shll-web:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOSTNAME=0.0.0.0
      - PONDER_URL=http://shll-indexer:42069
