version: "3.8"
services:
  shll-web:
    image: ghcr.io/kledx/shll-web:latest
    pull_policy: always
    restart: unless-stopped
    # ports:
    #   - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOSTNAME=0.0.0.0
      - PONDER_URL=http://shll-indexer:42069
      - RUNNER_URL=http://shll-agent-runner:8787
      - RUNNER_API_KEY=${RUNNER_API_KEY:-}
      - API_KEY=${API_KEY:-}
      - NEXT_PUBLIC_AGENT_NFA=${NEXT_PUBLIC_AGENT_NFA:-0x636557BFe696221bd05B78b04FB3d091A322D1dE}
      - NEXT_PUBLIC_LISTING_MANAGER=${NEXT_PUBLIC_LISTING_MANAGER:-0x7e47e94d4ec2992898300006483d55848efbc315}
      - NEXT_PUBLIC_DEPLOY_BLOCK=${NEXT_PUBLIC_DEPLOY_BLOCK:-90562960}
      - NEXT_PUBLIC_RUNNER_OPERATOR=${NEXT_PUBLIC_RUNNER_OPERATOR:-}
      - NEXT_PUBLIC_EXPLORER_TX_BASE_URL=${NEXT_PUBLIC_EXPLORER_TX_BASE_URL:-https://testnet.bscscan.com/tx}
      - NEXT_PUBLIC_EXTRA_TOKENS=${NEXT_PUBLIC_EXTRA_TOKENS:-}
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
